Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Merge branches 'NODE-20-get-network-status' and 'master' of bitbucket.org:centralitydev/cennz-node-ui into NODE-20-get-network-status
  flow-typed/npm/connected-react-router_vx.x.x.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add terms of use routing config
  app/app.global.css
  app/renderer/api/utils/storage.js
  app/renderer/components/Route.js
  app/renderer/constants/routes.js
  app/renderer/epics/homePage.epics.js
  app/renderer/epics/navigation.epic.js
  app/renderer/epics/profile.epics.js
  app/renderer/epics/walletRestore.epics.js
  app/renderer/globalStyles.js
  app/renderer/index.js
  app/renderer/pages/tosPage/container.js
  app/renderer/pages/tosPage/index.js
  app/renderer/pages/walletRestorePage/container.js
  app/renderer/pages/walletRestorePage/index.js
  app/renderer/routes/WalletRoutes.js
  app/renderer/routes/index.js
  app/renderer/scss/styles.scss
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Add Toggle component
  app/renderer/components/Toggle/Toggle.js
  app/renderer/components/Toggle/Toggle.md
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

remove flow typed npm folder, fix code review issues
  .gitignore
  app/common/helpers/typeCreator.js
  app/common/types/types.js
  app/common/types/urls.js
  app/renderer/constants/urls.js
  app/renderer/epics/nodeApiSystemHealth.epic.js
  app/renderer/epics/nodeApiSystemName.epic.js
  app/renderer/epics/nodeJsonRpcApi.epics.js
  app/renderer/helpers/apiHelper.js
  app/renderer/helpers/createAPICallEpic.js
  app/renderer/helpers/reducerHelper.js
  app/renderer/helpers/uiReducer.js
  app/renderer/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/reducers/nodeStatus.reducer.js
  app/renderer/types.js
  flow-typed/npm/connected-react-router_vx.x.x.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

refactor names
  app/renderer/epics/nodeJsonRpcApi.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/reducers/nodeSystem.reducer.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

file uploader component
  app/renderer/components/FileUploader/Readme.md
  app/renderer/components/FileUploader/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add terms of use routing config
  app/renderer/components/TosContent.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to restart cennznet node with options, connect TopBarContainer to redux state, add more node system API
  CHANGELOG.md
  app/common/types/cennznet-node.types.js
  app/main/cennznet/CennzNetNode.js
  app/main/cennznet/setup.js
  app/main/ipc/cennznet.ipc.js
  app/renderer/components/layout/Layout.js
  app/renderer/components/layout/MainLayout.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/constants/routes.js
  app/renderer/epics/nodeJsonRpcApi.epics.js
  app/renderer/ipc/cennznet.ipc.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/reducers/nodeSystem.reducer.js
  app/renderer/routes/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add profile pages
  app/renderer/components/Toggle/index.js
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/SubNav.js
  app/renderer/constants/routes.js
  app/renderer/pages/profileGeneralPage/index.js
  app/renderer/pages/profileTosPage/index.js
  app/renderer/routes/ProfileRoutes.js
  app/renderer/routes/index.js
  app/renderer/scss/styles.scss
  app/renderer/theme/colors.js
  configs/webpack.config.base.js
  configs/webpack.config.renderer.dev.babel.js
  configs/webpack.config.renderer.prod.babel.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, stylelint --ignore-path .eslintignore --syntax scss --fix

able to load network status by default
  app/renderer/components/layout/TopBar.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/epics/homePage.epics.js
  app/renderer/epics/nodeJsonRpcApi.epics.js
  app/renderer/helpers/chainEpics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/routes/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

store selected network
  app/renderer/api/utils/storage.js
  app/renderer/constants/routes.js
  app/renderer/epics/syncNode.epics.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/reducers/syncNode.reducer.js
  app/renderer/routes/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

minor fix
  app/renderer/components/layout/SideNav.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add ws steam api
  app/renderer/components/layout/SideNav.js
  app/renderer/constants/urls.js
  app/renderer/epics/stream.epics.js
  app/renderer/helpers/typeCreator.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/reducers/nodeSystem.reducer.js
  app/renderer/reducers/stream.reducer.js
  app/renderer/routes/index.js
  app/renderer/stream/payload.js
  app/renderer/stream/stream.js
  app/renderer/stream/types.js
  app/renderer/types.js
  app/renderer/utils/config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

minor fix
  app/renderer/pages/syncNodePage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to call chain_subscribeNewHead
  app/renderer/constants/urls.js
  app/renderer/epics/nodeJsonRpcApi.epics.js
  app/renderer/epics/steamChainSubscribeNewHead.epic.js
  app/renderer/epics/stream.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/reducers/nodeSystem.reducer.js
  app/renderer/stream/types.js
  app/renderer/types.js
  app/renderer/utils/config.js
  launcher-config.yaml
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

able to calculate sync stream bps
  app/renderer/epics/remoateStream.epics.js
  app/renderer/epics/steamChainSubscribeNewHead.epic.js
  app/renderer/epics/syncStream.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/reducers/remoteStream.reducer.js
  app/renderer/reducers/syncStream.reducer.js
  app/renderer/stream/stream.js
  app/renderer/types.js
  app/renderer/utils/config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

ui tidy up
  app/renderer/components/layout/TopBar.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/epics/remoateStream.epics.js
  app/renderer/reducers/remoteStream.reducer.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to run on all platform
  CHANGELOG.md
  app/main/utils/logging.js
  app/renderer/epics/remoateStream.epics.js
  app/renderer/epics/stream.epics.js
  app/renderer/epics/syncStream.epics.js
  app/renderer/helpers/chainEpics.js
  electron-builder.yml
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add new syncRemoteStream state, remove duplicate chainEpics.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/epics/nodeJsonRpcApi.epics.js
  app/renderer/epics/remoateStream.epics.js
  app/renderer/epics/syncRemoteStream.epics.js
  app/renderer/helpers/chainEpics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/reducers/syncRemoteStream.reducer.js
  app/renderer/stream/stream.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

store selectedNetwork into electron-store
  app/renderer/epics/syncNode.epics.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/chooseNetworkPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
