Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Add releasing checklist
  docs/RELEASING.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix tooltip not showing properly (#76)
  app/renderer/components/Hint.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix npm package vulnerabilities
  package-lock.json
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Add intranet standalone testnet genesis template
  genesis/local/intranet.json
Due: prettier --ignore-path .eslintignore --parser json --write

Update intra testnet genesis template with git history rewriting (#103)
  genesis/local/intranet.json
Due: prettier --ignore-path .eslintignore --parser json --write

Add issue template
  docs/ISSUE_TEMPLATE.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add issue template (#104)
  docs/ISSUE_TEMPLATE.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove sensitive info from config file
  app/config/common.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor common config file
  app/config/common.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add back common config file
  app/config/common.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Make up standalone testnet doc
  docs/STANDALONE_TESTNET.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Make up standalone testnet doc (#109)
  docs/STANDALONE_TESTNET.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update Pull Request template and Bounty issue template
  docs/ISSUE_TEMPLATE.md
  docs/PULL_REQUEST_TEMPLATE.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update pull request template
  docs/PULL_REQUEST_TEMPLATE.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add cennznet node related doc
  docs/CENNZNET_NODE.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Added Unstake button to StakeOverview page
  app/renderer/components/UnStakeWarningModal.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/container.js
  app/renderer/pages/stakingOverviewPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor unstake button in staking pages
  app/renderer/pages/staking/PageHeaderWithStakingToggle.js
  app/renderer/pages/staking/Readme.md
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/index.js
  app/renderer/routes/StakingRoutes.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor staking manage page
  app/renderer/pages/staking/PageHeaderWithStakingToggle/container.js
  app/renderer/pages/staking/PageHeaderWithStakingToggle/index.js
  app/renderer/pages/staking/UnStakeWarningModal.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor unstake button in staking pages
  app/renderer/pages/staking/PageHeaderWithStakingToggle/container.js
  app/renderer/pages/staking/PageHeaderWithStakingToggle/index.js
  app/renderer/pages/staking/Readme.md
  app/renderer/pages/staking/UnStakeWarningModal.js
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/index.js
  app/renderer/pages/stakingStakePage/index.js
  app/renderer/routes/StakingRoutes.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add doc of responsive layout
  package-lock.json
  styleguide.config.js
  styleguideHelpers/docs/responsive.md
  styleguideHelpers/docs/theming/get-started.md
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Added fix for Issue#73 validator and next up list now scrollable
  app/renderer/components/Table/index.js
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/stakingOverviewPage/WaitingList.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Added Gif
  Issue-73-fix.gif
Due: none

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
