Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

ver 0.8.3 release
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

ver 0.9.0 release
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Fix switch local network some time not working issue
  app/renderer/epics/chooseNetwork.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix switch local network some time not working issue
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

able to edit account name
  app/renderer/pages/wallet/account/AccountDetails.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

improve nameEdit input
  app/renderer/pages/wallet/account/AccountDetails.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove unused code
  app/renderer/pages/wallet/account/AccountDetails.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.9.1 release
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

change staking and spending token ids
  app/common/types/cennznet-node.types.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/stakingOverviewPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

change staking and spending token ids
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

add features
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

imporve
  app/renderer/pages/wallet/account/AccountDetails.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

improve naming convention
  app/renderer/pages/wallet/account/AccountDetails.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix switch network apiRemote not re-connect issue
  CHANGELOG.md
  app/renderer/api/api.js
  app/renderer/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix switch network apiRemote not re-connect issue
  CHANGELOG.md
  app/config/common.js
  app/renderer/api/api.js
  app/renderer/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix switch network apiRemote not re-connect issue
  CHANGELOG.md
  app/common/types/cennznet-node.types.js
  app/renderer/pages/wallet/account/PortfolioSection.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Merged in NODE-143-switch-network-issue (pull request #188)
  CHANGELOG.md
  app/common/types/cennznet-node.types.js
  app/config/common.js
  app/renderer/api/api.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/index.js
  app/renderer/pages/wallet/account/PortfolioSection.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Merged in NODE-143-switch-network-issue (pull request #188)
  CHANGELOG.md
  app/common/types/cennznet-node.types.js
  app/renderer/api/api.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/index.js
  app/renderer/pages/wallet/account/PortfolioSection.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Merged in upgrade_cennznet_node_testnet (pull request #187)
  docker-compose.yml
  genesis/local/local.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

0.9.2 release
  CHANGELOG.md
  app/renderer/api/api.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix typo
  app/renderer/pages/errorPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
