Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

make rimu connection work
  app/config/common.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.11.0
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

fix UI bugs
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/index.js
  app/renderer/pages/stakingStakePage/index.js
  app/renderer/pages/wallet/account/AddAccountModal.js
  app/renderer/pages/wallet/account/transferSectionPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix loading stuck issue for local testnet connection
  genesis/local/intra-testnet.json
Due: prettier --ignore-path .eslintignore --parser json --write

Change testnet images
  docker-compose.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Get local testnet work!!!!
  docker-compose.yml
  launcher-config.yaml
Due: prettier --ignore-path .eslintignore --single-quote --write

Get local testnet work!!!!
  docker-compose.yml
  genesis/local/intra-testnet.json
  launcher-config.yaml
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

reset node launcher arg
  launcher-config.yaml
Due: none

Get local testnet work
  docker-compose.yml
  genesis/local/local.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Get local testnet work
  app/config/common.js
  docker-compose.yml
  genesis/local/local.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Change Jenkins
  Jenkinsfile
  JenkinsfileIT
  JenkinsfilePR
Due: none

fix tab state issue
  app/renderer/pages/wallet/account/AccountDetails.js
  app/renderer/pages/wallet/account/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

improve naming convention
  app/renderer/pages/wallet/account/AccountDetails.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

yarn.lock
  yarn.lock
Due: none

Fix package version
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

fix intentions list issue
  app/renderer/pages/stakingOverviewPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add license comments on top of some files
  app/main/cennznet/CennzNetNode.js
  app/main/cennznet/setup.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
