Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Add storage api endpoint
  app/renderer/api/utils/storage.js
  flow-typed/npm/ramda_v0.x.x.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add input & sppiner components
  app/renderer/components/Input/Readme.md
  app/renderer/components/Input/index.js
  app/renderer/components/Input/lib/InputAddon.js
  app/renderer/components/Input/lib/InputAffix.js
  app/renderer/components/Input/lib/InputCore.js
  app/renderer/components/Input/lib/getInputBorderColor.js
  app/renderer/components/Input/lib/inputCoreStyles.js
  app/renderer/components/Input/lib/inputStateStyles.js
  app/renderer/components/Spinner/Readme.md
  app/renderer/components/Spinner/index.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/webpack_v4.x.x.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

merge & fix
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update CHANGELOG.md
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

input bootnode when choose local network
  app/renderer/components/Input/lib/inputStateStyles.js
  app/renderer/pages/chooseNetworkPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

imporve syncNodePage
  app/renderer/index.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/pages/testPage/index.js
  app/renderer/routes/index.js
  babel.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove history import & utils alias in babel
  app/renderer/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/routes/index.js
  babel.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add header section layout
  app/renderer/assets/img/logo.png
  app/renderer/components/layout/Topbar.js
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add MainLayout
  .eslintrc.json
  app/app.global.css
  app/renderer/pages/MainLayout.js
  app/renderer/pages/TopBarContainer.js
  app/renderer/pages/walletCreatePage/index.js
  app/renderer/pages/walletImportPage/index.js
  app/renderer/pages/walletRestorePage/index.js
  flow-typed/npm/webpack_v4.x.x.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

update css
  app/renderer/components/layout/Topbar.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

extract variable
  app/renderer/components/layout/Topbar.js
  app/renderer/pages/TopBarContainer.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

store the blockNu as number type
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix minor issue
  app/renderer/components/layout/Layout.js
  app/renderer/components/layout/TopBar.js
  app/renderer/components/layout/index.js
  app/renderer/pages/MainLayout.js
  app/renderer/pages/TopBarContainer.js
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix code review issue
  app/renderer/components/layout/Layout.js
  app/renderer/components/layout/MainLayout.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/pages/walletCreatePage/index.js
  app/renderer/pages/walletImportPage/index.js
  app/renderer/pages/walletRestorePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

use width setting from MainContent
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add connected react router
  app/renderer/App.js
  app/renderer/history.js
  app/renderer/reducers/index.js
  app/renderer/store/development.js
  app/renderer/store/production.js
  flow-typed/npm/connected-react-router_vx.x.x.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

improve progressBar
  app/renderer/pages/syncNodePage/index.js
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

improve progressBar
  app/renderer/pages/syncNodePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

install pkg
  flow-typed/npm/testcafe_v0.x.x.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to make network request fix hot reload issue
  .eslintrc.json
  CHANGELOG.md
  app/common/helpers/apiHelper.js
  app/common/helpers/createAPICallEpic.js
  app/common/helpers/reducerHelper.js
  app/common/helpers/typeCreator.js
  app/common/helpers/uiReducer.js
  app/common/types/types.js
  app/common/types/urls.js
  app/renderer/App.js
  app/renderer/epics/nodeApiSystemHealth.epic.js
  app/renderer/epics/nodeApiSystemName.epic.js
  app/renderer/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/reducers/nodeStatus.reducer.js
  app/renderer/reducers/testPage.reducer.js
  app/renderer/routes/index.js
  app/renderer/store/development.js
  flow-typed/npm/webpack-dev-server_vx.x.x.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write
