Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Amend comments to themes
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/themes/dark/appComponentStyle.js
  app/renderer/themes/light/appComponentStyle.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add docs of theming
  package.json
  styleguide.config.js
  styleguideHelpers/docs/theming.md
  styleguideHelpers/docs/theming/colors.md
  styleguideHelpers/docs/theming/get-started.md
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Refine layout components theming
  app/renderer/components/Button/index.js
  app/renderer/components/Card/Readme.md
  app/renderer/components/Field/SelectField.js
  app/renderer/components/Field/TextField.js
  app/renderer/components/Hint.js
  app/renderer/components/Table/index.js
  app/renderer/components/Toaster/index.js
  app/renderer/components/defaultTheme/components.js
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/SimpleSidebar.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/AccordionItem.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/AccordionItemTitle.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/components/layout/SubNav/SimpleMenu/index.js
  app/renderer/components/layout/SubNav/index.js
  app/renderer/pages/stakingStakePage/SavePreferenceSection.js
  app/renderer/pages/wallet/WordField.js
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/pages/wallet/account/transferSectionPage/ClipboardShareLinks.js
  app/renderer/pages/wallet/account/transferSectionPage/TransferConfirmModal.js
  app/renderer/themes/dark/appComponentStyle.js
  app/renderer/themes/light/appComponentStyle.js
  package.json
  styleguideHelpers/docs/theming/get-started.md
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Jasmy
  app/common/assets/pdf/paper-wallet-page-single.png
  app/config/branding.js
  app/config/common.js
  app/renderer/assets/img/logo-in-topbar.svg
  app/renderer/assets/img/node-logo.png
  app/renderer/components/TosContent.js
  app/renderer/themes/index.js
  app/renderer/themes/jasmy/appComponentStyle.js
  app/renderer/themes/jasmy/appThemeColors.js
  app/renderer/themes/jasmy/index.js
  package.json
  resources/icon.png
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Refactor Button and Input
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Button/defaultThemeStyle.js
  app/renderer/components/Button/index.js
  app/renderer/components/Field/TextField.js
  app/renderer/components/FileUploader/index.js
  app/renderer/components/Input/index.js
  app/renderer/components/Input/lib/InputAddon.js
  app/renderer/components/Input/lib/InputCore.js
  app/renderer/components/Input/lib/defaultThemeStyle.js
  app/renderer/components/Input/lib/inputCoreStyles.js
  app/renderer/components/Spinner/index.js
  app/renderer/components/defaultTheme/components.js
  app/renderer/pages/wallet/NameInput.js
  app/renderer/pages/wallet/WordField.js
  app/renderer/pages/wallet/account/AddAccountModal.js
  app/renderer/themes/jasmy/appComponentStyle.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add more themable options
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Button/defaultThemeStyle.js
  app/renderer/components/Button/index.js
  app/renderer/components/Field/TextField.js
  app/renderer/components/FileUploader/index.js
  app/renderer/components/Input/index.js
  app/renderer/components/Input/lib/InputAddon.js
  app/renderer/components/Input/lib/InputCore.js
  app/renderer/components/Input/lib/defaultThemeStyle.js
  app/renderer/components/Input/lib/inputCoreStyles.js
  app/renderer/components/Spinner/index.js
  app/renderer/components/defaultTheme/components.js
  app/renderer/pages/wallet/NameInput.js
  app/renderer/pages/wallet/WordField.js
  app/renderer/pages/wallet/account/AddAccountModal.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add doc of how theming works
  styleguide.config.js
  styleguideHelpers/docs/theming/how-it-works.md
  styleguideHelpers/docs/theming/naming-convention.md
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Bump Electron builder version
  app/renderer/components/defaultTheme/colors.js
  app/renderer/components/defaultTheme/components.js
  app/renderer/components/defaultTheme/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Drop rpm Linux support for now
  electron-builder.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

0.14.0
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Hide Sentry auth ID from script
  scripts/upload_sourcemaps.sh
Due: none

0.14.1
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Fix unable to parse issue
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix launch config
  electron-builder.yml
  launcher-config/launcher-config-win.yaml
Due: prettier --ignore-path .eslintignore --single-quote --write

Update package version for release
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Add tooltip to balances field
  app/renderer/components/Ellipsis.js
  app/renderer/components/HintDigits.js
  app/renderer/components/index.js
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/stakingOverviewPage/WaitingList.js
  app/renderer/pages/wallet/account/PortfolioSection.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
