Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Remove redux action prefix
  app/renderer/helpers/typeCreator.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

rebranding-code
  README.md
  app/app.html
  app/main.dev.js
  app/main/cennznet/CennzNetNode.js
  app/main/cennznet/setup.js
  app/main/launcherConfig.js
  app/main/utils/readLauncherConfig.js
  features/.eslintrc
  features/quit-app.feature
  features/step_definitions/app-steps.js
  features/support/electron.js
  features/support/global-types.js
  features/support/helpers/app-helpers.js
  features/support/helpers/cennznet-node-helpers.js
  features/support/i18n.js
  launcher-config.yaml
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

rebranding-code
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Merged in NODE-138-error-handling (pull request #191)
  .eslintrc.json
  CHANGELOG.md
  README.md
  app/main/cennznet/CennzNetNode.js
  app/main/preload.js
  app/renderer/api/api.js
  app/renderer/epics/exception.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/errorPage/ErrorBoundary.js
  app/renderer/pages/errorPage/container.js
  app/renderer/pages/errorPage/index.js
  app/renderer/pages/settingsGeneralPage/container.js
  app/renderer/pages/settingsGeneralPage/index.js
  app/renderer/pages/stakingStakePage/index.js
  app/renderer/routes/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Update default distribute targets
  app/main.dev.js
  app/main/windows/mainWindow.js
  electron-builder.yml
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix UI - long account name
  app/renderer/components/Ellipsis.js
  app/renderer/pages/stakingManagePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add sentry integration
  CHANGELOG.md
  app/app.html
  app/config/common.js
  app/renderer/pages/errorPage/ErrorBoundary.js
  app/renderer/pages/errorPage/index.js
  package.json
  scripts/upload_sourcemaps.sh
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add sentry integration
  CHANGELOG.md
  app/app.html
  app/renderer/pages/errorPage/ErrorBoundary.js
  app/renderer/pages/errorPage/index.js
  package.json
  scripts/upload_sourcemaps.sh
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add sentry integration
  scripts/upload_sourcemaps.sh
Due: none

improve Ellipsis component
  app/renderer/components/Ellipsis.js
  app/renderer/pages/wallet/account/AccountDetails.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix mac icon issue, Customized sentry feedback form
  CHANGELOG.md
  app/renderer/pages/errorPage/ErrorBoundary.js
  app/renderer/pages/errorPage/index.js
  app/renderer/scss/sentry.scss
  app/renderer/scss/styles.scss
  electron-builder.yml
  resources/icon.png
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Refactor autoUpdater
  app/main.dev.js
  app/renderer/epics/subscribeNewHeads.epics.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Fix mac icon issue, Customized sentry feedback form
  app/renderer/scss/sentry.scss
Due: prettier --ignore-path .eslintignore --single-quote --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Refactor staking manage view balances
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/routes/StakingRoutes.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix staking manageview balance ui
  app/renderer/pages/stakingManagePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor balance format in profile page
  app/renderer/pages/wallet/account/PortfolioSection.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix mac icon issue, Customized sentry feedback form
  CHANGELOG.md
  README.md
  app/main.dev.js
  app/main/menu.js
  app/main/utils/logging.js
  app/main/utils/setupLogging.js
  app/renderer/utils/logging.js
  electron-builder.yml
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

PR tidy up
  app/main.dev.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

PR tidy up
  app/main.dev.js
  electron-builder.yml
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add staking status in localstorage
  app/renderer/api/api.js
  app/renderer/api/utils/storage.js
  app/renderer/components/layout/Layout/container.js
  app/renderer/components/layout/Layout/index.js
  app/renderer/epics/init.epic.js
  app/renderer/epics/localStorage.epics.js
  app/renderer/epics/staking.epics.js
  app/renderer/epics/subscribeValidators.epics.js
  app/renderer/pages/settingsGeneralPage/container.js
  app/renderer/routes/Route.js
  app/renderer/routes/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

PR tidy up
  app/main/menu.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
