Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Improve staking UI
  app/renderer/api/utils/storage.js
  app/renderer/components/PageSpinner.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refine toaster component
  app/renderer/components/Toaster/index.js
  app/renderer/components/Toaster/utils/toast.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix yarn.lock
  yarn.lock
Due: none

add subHeading into page
  app/renderer/pages/stakingOverviewPage/container.js
  app/renderer/pages/stakingOverviewPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

subMenu exmaple in styleguide
  app/renderer/components/Select/Readme.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add Notification component
  app/renderer/assets/icon/exclamation-light.svg
  app/renderer/assets/icon/exclamation.svg
  app/renderer/components/Notification/Readme.md
  app/renderer/components/Notification/index.js
  app/renderer/components/Toaster/Readme.md
  app/renderer/components/Toaster/index.js
  app/renderer/components/Toaster/utils/IconWarning.js
  app/renderer/components/Toaster/utils/toast.js
  app/renderer/components/icons/IconCross.js
  app/renderer/components/icons/IconDanger.js
  app/renderer/components/icons/IconInfo.js
  app/renderer/components/icons/IconSuccess.js
  app/renderer/components/icons/IconWarning.js
  app/renderer/components/icons/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to host local rimu
  docker-compose.yml
  genesis/local/local-rimu.json
  launcher-config.yaml
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

able to host local rimu
  genesis/local/local-rimu.json
  genesis/local/local.json
  launcher-config.yaml
Due: prettier --ignore-path .eslintignore --parser json --write

able to host local rimu
  app/config/common.js
  genesis/local/local-rimu.json
  genesis/local/local.json
  launcher-config.yaml
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix incorrect port
  app/config/common.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

useApi refactor
  app/renderer/api/api.js
  app/renderer/epics/staking.epics.js
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/useApi.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

grouped select in stakingPage
  app/renderer/epics/wallet.epics.js
  app/renderer/pages/stakingStakePage/SelectStakingAccount.js
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add multiple-select in stakingAccountPage
  app/renderer/pages/stakingStakePage/SelectStakingAccount.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove staking epic and reducer
  app/renderer/epics/staking.epics.js
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/reducers/staking.reducer.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

rollback to a old yarn.lock file
  yarn.lock
Due: none

select account to start stake
  app/renderer/pages/stakingStakePage/SelectStakingAccount.js
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update genesis file
  genesis/local/local.json
Due: prettier --ignore-path .eslintignore --parser json --write

add BalancesCard in startToStakePage
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/container.js
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

display balance of staking account
  app/renderer/components/Card/Readme.md
  app/renderer/components/Card/index.js
  app/renderer/components/index.js
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

display balance of staking account
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
