Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Add checkbox component
  CHANGELOG.md
  app/renderer/components/Checkbox/Readme.md
  app/renderer/components/Checkbox/index.js
  app/renderer/routes/WalletRoutes.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix master build fail
  app/renderer/routes/WalletRoutes.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

create wallet landing screen
  app/renderer/index.js
  app/renderer/pages/wallet/landingPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

create wallet landing screen
  app/renderer/pages/wallet/landingPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Merged in NODE-42-integrate-sdk (pull request #63)
  CHANGELOG.md
  app/renderer/api/utils/storage.js
  app/renderer/epics/init.epic.js
  app/renderer/epics/test.epics.js
  scripts/clean.sh
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add lineheight for wallet desc
  app/renderer/pages/wallet/landingPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

eslint fix
  app/renderer/pages/wallet/landingPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

wallet name input page
  app/renderer/components/index.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/pages/wallet/create/nameInputPage.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add wallets page
  app/renderer/components/layout/SubNav.js
  app/renderer/constants/routes.js
  app/renderer/epics/init.epic.js
  app/renderer/globalStyles.js
  app/renderer/pages/wallet/StartOverLink.js
  app/renderer/pages/wallet/detailsPage/WalletDetailsSubNav.js
  app/renderer/pages/wallet/detailsPage/container.js
  app/renderer/pages/wallet/detailsPage/index.js
  app/renderer/pages/wallet/listPage/index.js
  app/renderer/pages/wallet/rootPage/container.js
  app/renderer/pages/wallet/rootPage/index.js
  app/renderer/reducers/localStorage.reducer.js
  app/renderer/routes/WalletDetailsRoutes.js
  app/renderer/routes/index.js
  app/renderer/theme/colors.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Refine secondary button
  CHANGELOG.md
  app/renderer/components/Button/Readme.md
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Button/defaultStyling.js
  app/renderer/components/Button/index.js
  app/renderer/epics/init.epic.js
  app/renderer/pages/wallet/detailsPage/WalletDetailsSubNav.js
  app/renderer/reducers/localStorage.reducer.js
  app/renderer/routes/WalletDetailsRoutes.js
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add nameInput page & warning screen
  app/renderer/components/Modal/index.js
  app/renderer/components/index.js
  app/renderer/index.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/pages/wallet/create/nameInputPage.js
  app/renderer/theme/colors.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Generate wallets
  app/renderer/components/index.js
  app/renderer/epics/test.epics.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/pages/wallet/create/seedPhrasePage/StoreWarningModal.js
  app/renderer/pages/wallet/create/seedPhrasePage/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix win path issue
  app/main/ipc/generatePaperWalletChannel.js
  app/main/utils/config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix windows build issue
  app/main/ipc/generatePaperWalletChannel.js
  electron-builder.yml
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix windows build issue
  app/main/ipc/generatePaperWalletChannel.js
  app/renderer/store/development.js
  app/renderer/utils/config.js
  electron-builder.yml
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix windows build issue
  app/main/ipc/generatePaperWalletChannel.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update CHANGELOG.md
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

add download button
  CHANGELOG.md
  app/common/assets/pdf/Back.png
  app/common/assets/pdf/Front-empty.png
  app/common/assets/pdf/paper-wallet-certificate-page-2.png
  app/renderer/api/api.js
  app/renderer/api/wallets/types.js
  app/renderer/index.js
  app/renderer/pages/wallet/create/seedPhrasePage/index.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write
