Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Prevent checking update in dev mode
  app/main/main.dev.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Try uploading to S3
  Jenkinsfile
Due: none

Try Jenkins
  Dockerfile
  Jenkinsfile
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Set Jenkins artifects
  Jenkinsfile
  electron-builder.yml
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add release command
  Dockerfile
Due: none

get lastestBlock from infura
  app/renderer/epics/test.epics.js
  app/renderer/pages/testPage/index.js
  app/renderer/types.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

listen localhost websocket
  app/renderer/pages/testPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add pkg for mac
  electron-builder.yml
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add theme and colors
  app/renderer/App.js
  app/renderer/theme/colors.js
  app/renderer/theme/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update Jenkinsfile to use agent label macos
  Jenkinsfile
Due: none

update Jenkinsfile to use agent label macos
  Jenkinsfile
  scripts/build-mac.sh
Due: none

install node@10
  scripts/build-mac.sh
Due: none

get bestBlock from localNet and MainNet
  app/renderer/assets/img/cennznode-logo.png
  app/renderer/epics/test.epics.js
  app/renderer/pages/testPage/container.js
  app/renderer/pages/testPage/index.js
  app/renderer/reducers/testPage.reducer.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update
  app/renderer/pages/testPage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

get bestBlock from localNet and MainNet
  app/renderer/pages/testPage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update eslint config
  .eslintrc.json
Due: prettier --ignore-path .eslintignore --parser json --write

remove unused code
  app/renderer/pages/testPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

setup mac build pipeline
  Jenkinsfile
  electron-builder.yml
  scripts/build-mac.sh
Due: prettier --ignore-path .eslintignore --single-quote --write

style the syncedNode page
  app/renderer/pages/testPage/container.js
  app/renderer/pages/testPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

show pogressbar whne syncNode
  app/renderer/pages/testPage/container.js
  app/renderer/pages/testPage/index.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
