Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

store network options to reducer & store
  app/renderer/api/utils/storage.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/epics/homePage.epics.js
  app/renderer/epics/settings.epics.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/reducers/settings.reducer.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

enable syncNode page sync remote or local node
  app/renderer/api/utils/storage.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove console.log
  app/renderer/epics/settings.epics.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

ready for demo
  CHANGELOG.md
  app/common/types/cennznet-node.types.js
  app/renderer/components/layout/SideNav.js
  app/renderer/epics/homePage.epics.js
  app/renderer/epics/steamSystemChain.epics.js
  app/renderer/epics/syncRemoteStream.epics.js
  app/renderer/epics/syncStream.epics.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/walletRestorePage/container.js
  app/renderer/pages/walletRestorePage/index.js
  app/renderer/types.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

zip the storeNetwork flow
  app/renderer/epics/chooseNetwork.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix bug for store filePath
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/reducers/settings.reducer.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update logo
  CHANGELOG.md
  app/renderer/assets/img/logo.png
  app/renderer/utils/config.js
  package.json
  resources/Centrality_Logo_round_1024px.png
  resources/Centrality_Logo_square_1024px.png
  resources/icon.icns
  resources/icon.ico
  resources/icon.png
  resources/icons/1024x1024.png
  resources/icons/128x128.png
  resources/icons/16x16.png
  resources/icons/24x24.png
  resources/icons/256x256.png
  resources/icons/32x32.png
  resources/icons/48x48.png
  resources/icons/512x512.png
  resources/icons/64x64.png
  resources/icons/96x96.png
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

tidy up
  app/common/types/cennznet-node.types.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor storage api
  app/renderer/api/utils/storage.js
  app/renderer/epics/acceptTermsOfUse.epic.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/epics/homePage.epics.js
  app/renderer/epics/init.epic.js
  app/renderer/epics/localStorage.epics.js
  app/renderer/epics/settings.epics.js
  app/renderer/epics/walletRestore.epics.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/settingsGeneralPage/container.js
  app/renderer/pages/settingsGeneralPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/reducers/localStorage.reducer.js
  app/renderer/reducers/settings.reducer.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

NODE-49 Cancel streaming before node restart
  app/renderer/epics/init.epic.js
  app/renderer/epics/syncRemoteStream.epics.js
  app/renderer/epics/syncStream.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/reducers/syncRemoteStream.reducer.js
  app/renderer/reducers/syncStream.reducer.js
  app/renderer/stream/stream.js
  app/renderer/types.js
  app/renderer/utils/config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Remove console.log
  app/renderer/epics/steamChainGetHeader.epics.js
  app/renderer/epics/steamChainSubscribeNewHead.epic.js
  app/renderer/epics/steamSystemChain.epics.js
  app/renderer/epics/syncRemoteStream.epics.js
  app/renderer/epics/syncStream.epics.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/reducers/syncRemoteStream.reducer.js
  app/renderer/reducers/syncStream.reducer.js
  app/renderer/stream/stream.js
  app/renderer/types.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Refactor constants
  app/renderer/constants/stream.js
  app/renderer/epics/init.epic.js
  app/renderer/epics/syncRemoteStream.epics.js
  app/renderer/epics/syncStream.epics.js
  app/renderer/pages/devPage/dev.container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

start up process improve
  app/renderer/components/Route.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/epics/homePage.epics.js
  app/renderer/index.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/homePage/container.js
  app/renderer/pages/homePage/index.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/pages/walletCreatePage/container.js
  app/renderer/routes/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

integrate with initEpic with rootRoute
  app/renderer/api/utils/storage.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/epics/init.epic.js
  app/renderer/index.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

uncomment the code
  app/renderer/components/Route.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add cennznet-api
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

able to get release from github
  scripts/github-release-get.sh
  scripts/init_from_github.sh
Due: none

remove unused console
  app/renderer/epics/homePage.epics.js
  app/renderer/pages/chooseNetworkPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

improve chooseNetwork & syncNode flow
  app/renderer/components/Route.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/epics/homePage.epics.js
  app/renderer/epics/init.epic.js
  app/renderer/epics/localStorage.epics.js
  app/renderer/pages/chooseNetworkPage/container.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to get release from github
  scripts/github-release-get.sh
  yarn.lock
Due: none

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
