Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Fix init script for build pipeline
  scripts/init.sh
Due: none

Fix github token variable name
  scripts/init.sh
Due: none

Add faucet deposit instruction
  app/config/common.js
  app/renderer/globalStyles.js
  app/renderer/main/GlobalModal/ExitAppWhileStakingModal.js
  app/renderer/pages/wallet/account/ReceiveSection/DepositSteps.js
  app/renderer/pages/wallet/account/ReceiveSection/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add faucet deposit instruction
  app/renderer/globalStyles.js
  app/renderer/main/GlobalModal/ExitAppWhileStakingModal.js
  app/renderer/pages/wallet/account/ReceiveSection/DepositSteps.js
  app/renderer/pages/wallet/account/ReceiveSection/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.13.5
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Change package version
  dists/cennznet-node-mac
  dists/launcher-config-linux.yaml
  dists/launcher-config-mac.yaml
  dists/launcher-config-win.yaml
  package.json
  scripts/github-release-get.sh
  scripts/init.sh
Due: prettier --ignore-path .eslintignore --parser json --write

Change release repo
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Pass Github token as a script argument
  dists/cennznet-node-mac
  dists/launcher-config-linux.yaml
  dists/launcher-config-mac.yaml
  dists/launcher-config-win.yaml
  scripts/init.sh
Due: none

Fix asset output name
  scripts/init.sh
Due: none

Custom SimpleSidebar theming
  app/renderer/components/layout/SimpleSidebar.js
  app/renderer/themes/dark/appComponentStyle.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Custom TopBar theming
  app/renderer/assets/img/logo-in-topbar.svg
  app/renderer/components/layout/TopBar/index.js
  app/renderer/themes/dark/appComponentStyle.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Custom Icon Nav
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/themes/dark/appComponentStyle.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Custom Sub Nav
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/components/layout/SubNav/SimpleMenu/index.js
  app/renderer/components/layout/SubNav/index.js
  app/renderer/themes/dark/appComponentStyle.js
  app/renderer/themes/light/appComponentStyle.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Enhance theming
  app/config/branding.js
  app/config/common.js
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Button/defaultThemeStyle.js
  app/renderer/components/Button/index.js
  app/renderer/components/Card/index.js
  app/renderer/components/Field/TextField.js
  app/renderer/components/FileUploader/index.js
  app/renderer/components/Input/index.js
  app/renderer/components/Radio/index.js
  app/renderer/components/Select/index.js
  app/renderer/components/Tabs/index.js
  app/renderer/components/Tooltip/index.js
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/AccordionItemTitle.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/components/layout/SubNav/index.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/globalStyles.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/StakingProgressCard.js
  app/renderer/pages/stakingStakePage/SavePreferenceSection.js
  app/renderer/pages/stakingStakePage/Stake/StakeConfirmModal.js
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/index.js
  app/renderer/pages/wallet/NameInput.js
  app/renderer/pages/wallet/StartOverLink.js
  app/renderer/pages/wallet/WordField.js
  app/renderer/pages/wallet/account/AccountDetails.js
  app/renderer/pages/wallet/account/AddAccountModal.js
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/index.js
  app/renderer/pages/wallet/landingPage/index.js
  app/renderer/themes/dark/appComponentStyle.js
  app/renderer/themes/dark/appThemeColors.js
  app/renderer/themes/light/appComponentStyle.js
  app/renderer/themes/light/appThemeColors.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Enhance theming
  app/config/branding.js
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Button/defaultThemeStyle.js
  app/renderer/components/Button/index.js
  app/renderer/components/Card/index.js
  app/renderer/components/Field/TextField.js
  app/renderer/components/FileUploader/index.js
  app/renderer/components/Input/index.js
  app/renderer/components/Radio/index.js
  app/renderer/components/Select/index.js
  app/renderer/components/Tabs/index.js
  app/renderer/components/Tooltip/index.js
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/AccordionItemTitle.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/components/layout/SubNav/index.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/globalStyles.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/StakingProgressCard.js
  app/renderer/pages/stakingStakePage/SavePreferenceSection.js
  app/renderer/pages/stakingStakePage/Stake/StakeConfirmModal.js
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/index.js
  app/renderer/pages/wallet/NameInput.js
  app/renderer/pages/wallet/StartOverLink.js
  app/renderer/pages/wallet/WordField.js
  app/renderer/pages/wallet/account/AccountDetails.js
  app/renderer/pages/wallet/account/AddAccountModal.js
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/index.js
  app/renderer/pages/wallet/landingPage/index.js
  app/renderer/themes/dark/appComponentStyle.js
  app/renderer/themes/dark/appThemeColors.js
  app/renderer/themes/light/appComponentStyle.js
  app/renderer/themes/light/appThemeColors.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Amend comments to themes
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/themes/dark/appComponentStyle.js
  app/renderer/themes/light/appComponentStyle.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
