Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Refactor transaction
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Remove toy keyrings
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Get transation work
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Upgrade node to 0.9.20
  app/renderer/api/api.js
  launcher-config.yaml
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

set remoteUrl to rimu
  app/config/common.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove plugnet from packge.json
  app/config/common.js
  app/renderer/api/api.js
  app/renderer/api/runtime/attestation/Topic.js
  app/renderer/api/runtime/attestation/Value.js
  app/renderer/api/runtime/ga/AssetOptions.js
  app/renderer/api/runtime/ga/Owner.js
  app/renderer/api/runtime/ga/PermissionsV1.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/useApi.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

remove plugnet from packge.json
  app/renderer/api/api.js
  app/renderer/api/runtime/attestation/Topic.js
  app/renderer/api/runtime/attestation/Value.js
  app/renderer/api/runtime/ga/AssetOptions.js
  app/renderer/api/runtime/ga/Owner.js
  app/renderer/api/runtime/ga/PermissionsV1.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/useApi.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Set local test net
  docker-compose.yml
  genesis/local/local-testnet1.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Update local genesis file
  genesis/local/local-testnet1.json
  genesis/local/local.json
  launcher-config.yaml
Due: prettier --ignore-path .eslintignore --parser json --write

Config intra testnet
  app/config/common.js
  docker-compose.yml
  genesis/local/local-testnet1.json
  genesis/local/local.json
  launcher-config.yaml
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Config intra testnet
  docker-compose.yml
  genesis/local/intra-testnet.json
  genesis/local/local.json
  launcher-config.yaml
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Config intra testnet
  app/config/common.js
  docker-compose.yml
  genesis/local/intra-testnet.json
  genesis/local/local.json
  launcher-config.yaml
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

update doStake feature
  app/config/common.js
  app/renderer/api/api.js
  app/renderer/epics/staking.epics.js
  app/renderer/pages/wallet/account/AddAccountModal.js
  app/renderer/pages/wallet/account/transferSectionPage/index.js
  launcher-config.yaml
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

update doStake feature
  app/renderer/api/api.js
  app/renderer/epics/staking.epics.js
  app/renderer/pages/wallet/account/AddAccountModal.js
  app/renderer/pages/wallet/account/transferSectionPage/index.js
  launcher-config.yaml
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

make stake/unstake feature work
  app/renderer/api/api.js
  app/renderer/epics/staking.epics.js
  app/renderer/pages/stakingOverviewPage/useApi.js
  app/renderer/pages/wallet/account/AddAccountModal.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

to get intentions list
  app/renderer/api/api.js
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/container.js
  app/renderer/pages/stakingOverviewPage/index.js
  app/renderer/pages/stakingOverviewPage/useApi.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix stake status check before exist bug
  app/renderer/epics/staking.epics.js
  app/renderer/epics/subscribeNodeStatus.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
