Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

0.13.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add resetStorage button in homepage
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/pages/homePage/container.js
  app/renderer/pages/homePage/index.js
  app/renderer/pages/syncNodePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Enrich light theme
  app/renderer/components/Toaster/index.js
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/stakingOverviewPage/WaitingList.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/themes/light/appThemeColors.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Rebranding app name
  CONTRIBUTING.md
  app/app.html
  styleguide.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor network name options
  app/common/types/theNode.types.js
  app/main/net/theNodeConfig.js
  app/main/net/utils.js
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor license title
  CONTRIBUTING.md
  app/app.html
  app/config/common.js
  app/main/net/TheNetNode.js
  app/main/net/setup.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor license title
  CONTRIBUTING.md
  app/app.html
  app/main/net/TheNetNode.js
  app/main/net/setup.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Change scan url
  app/common/types/theNode.types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add description to development network option
  app/renderer/pages/chooseNetworkPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix bug on navigation
  app/renderer/epics/homePage.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Delete usable files
  .npmrc.template
  .testcafe-electron-rc
  CHANGELOG.md
  Jenkinsfile
  JenkinsfileIT
  JenkinsfilePR
  bitbucket-pipelines.yml
  cucumber.js
  docker-compose-local.yml
  features/.eslintrc
  features/quit-app.feature
  features/step_definitions/app-steps.js
  features/step_definitions/stepdefs.js
  features/step_definitions/the-node-steps.js
  features/support/electron.js
  features/support/global-types.js
  features/support/helpers/app-helpers.js
  features/support/helpers/screenshot.js
  features/support/helpers/shared-helpers.js
  features/support/helpers/theNodeHelpers.js
  features/support/i18n.js
  features/support/webdriver.js
  scripts/clean.sh
  scripts/github-release-get.sh
  scripts/init.sh
  scripts/run-e2e-tests.sh
  scripts/run-functional-tests.sh
  scripts/test.sh
  scripts/upload_sourcemaps.sh
  test/.eslintrc.json
  test/e2e/HomePage.e2e.js
  test/e2e/helpers.js
  test/example.js
  testHelper/testSetup.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add light theme style to components
  app/renderer/components/Modal/index.js
  app/renderer/pages/wallet/account/ReceiveSection/index.js
  app/renderer/pages/wallet/account/transferSectionPage/ClipboardShareLinks.js
  app/renderer/themes/light/appComponentStyle.js
  app/renderer/themes/light/appThemeColors.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add light theme style to page
  app/renderer/components/layout/SubNav/CollapsibleMenu/AccordionItemTitle.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/components/layout/SubNav/index.js
  app/renderer/globalStyles.js
  app/renderer/themes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor local testnet
  docker-compose.yml
  genesis/local/local-testnet.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Fix UI issue
  app/config/common.js
  app/renderer/components/Toggle/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix UI issue
  app/renderer/components/Toggle/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.13.4
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Update yarn lock
  .npmrc.template
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix electron builder for window build
  electron-builder.yml
  launcher-config/launcher-config-linux.yaml
  launcher-config/launcher-config-mac.yaml
  launcher-config/launcher-config-win.yaml
  scripts/init.sh
  yarn.lock
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix init script for build pipeline
  scripts/init.sh
Due: none

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
