Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

bump version
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

refactor api call to epic
  app/renderer/api/api.js
  app/renderer/epics/test.epics.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/pages/wallet/create/seedPhrasePage/SeedPhraseDownloadModal.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

refactor api call to epic
  app/renderer/api/api.js
  app/renderer/epics/test.epics.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove unused code
  app/renderer/pages/wallet/create/container.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove duplicate epic
  app/renderer/epics/test.epics.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix bug for restarting two nodes
  app/renderer/components/Select/index.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/pages/syncNodePage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add seed phrase form
  app/renderer/components/FileUploader/index.js
  app/renderer/components/Form.js
  app/renderer/components/Input/index.js
  app/renderer/components/Input/lib/getInputBorderColor.js
  app/renderer/components/Input/lib/inputCoreStyles.js
  app/renderer/components/Input/lib/inputStateStyles.js
  app/renderer/components/index.js
  app/renderer/pages/wallet/create/constants.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/pages/wallet/create/index.js
  app/renderer/pages/wallet/create/nameInputPage/index.js
  app/renderer/pages/wallet/create/seedPhraseConfirmPage/WordField.js
  app/renderer/pages/wallet/create/seedPhraseConfirmPage/index.js
  app/renderer/pages/wallet/create/seedPhraseConfirmPage/utils.js
  app/renderer/pages/wallet/create/seedPhrasePage/SeedPhraseDownloadModal.js
  app/renderer/pages/wallet/create/seedPhrasePage/StoreWarningModal.js
  app/renderer/pages/wallet/create/seedPhraseQuizPage.js
  app/renderer/theme/colors.js
  features/support/helpers/screenshot.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

switch network
  app/common/types/cennznet-node.types.js
  app/renderer/components/layout/TopBar.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

initial APIs for query balance and transfer
  app/renderer/api/api.js
  app/renderer/api/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add switchNetwork
  app/renderer/components/layout/TopBar.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/pages/chooseNetworkPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

loading when startNode
  app/renderer/components/layout/TopBar.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/index.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

switchNetwork select style
  app/renderer/components/Select/index.js
  app/renderer/components/layout/TopBar.js
  app/renderer/components/layout/TopBarWarningModal.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

refactor TopBar
  app/renderer/components/layout/Layout.js
  app/renderer/components/layout/TopBar.js
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/components/layout/TopBarWarningModal.js
  app/renderer/components/layout/UploadGenesisModal.js
  app/renderer/pages/syncNodePage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add uploadGenesisFileModal
  app/renderer/components/layout/TopBarContainer.js
  app/renderer/components/layout/UploadGenesisModal.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

switchNetwork at TopBar works
  app/renderer/components/layout/MainLayout.js
  app/renderer/components/layout/TestTopBar.js
  app/renderer/components/layout/TopBar/TopBarContainer.js
  app/renderer/components/layout/TopBar/TopBarWarningModal.js
  app/renderer/components/layout/TopBar/UploadGenesisModal.js
  app/renderer/components/layout/TopBar/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove unused component
  app/renderer/components/layout/TestTopBar.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove unused import
  app/renderer/components/layout/MainLayout.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix cucumber not able to start issue
  CHANGELOG.md
  babel.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

try to add CI with cucumber tests
  JenkinsfileIT
  scripts/run-e2e-tests.sh
Due: none

add defaultProps to Select component
  app/renderer/components/Select/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
