Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Refactor Table theming
  app/renderer/components/Table/index.js
  app/renderer/components/defaultTheme/components.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Refactor Tooltip theming
  app/renderer/components/Tooltip/index.js
  app/renderer/components/defaultTheme/components.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor Scrollable theming
  app/renderer/components/Scrollable.js
  app/renderer/components/Scrollable/Readme.md
  app/renderer/components/Scrollable/index.js
  app/renderer/components/defaultTheme/components.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update packages
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix Spinner size
  app/renderer/pages/homePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor Scrollable implemention
  app/renderer/components/Tabs/Readme.md
  app/renderer/components/Tabs/TabPane.js
  app/renderer/components/defaultTheme/components.js
  app/renderer/components/layout/SubNav/index.js
  app/renderer/pages/settingsGeneralPage/index.js
  app/renderer/pages/stakingStakePage/index.js
  app/renderer/pages/wallet/account/PortfolioSection.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Config local test net
  genesis/local/local-testnet1.json
  genesis/local/local.json
Due: prettier --ignore-path .eslintignore --parser json --write

Update docker-compose file
  docker-compose.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

add light theme to the app
  app/renderer/components/PageFooter.js
  app/renderer/components/Select/index.js
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/wallet/account/PortfolioSection.js
  app/renderer/pages/wallet/account/transferSectionPage/ClipboardShareLinks.js
  app/renderer/pages/wallet/create/seedPhrasePage/SeedPhraseList.js
  app/renderer/themes/dark/appComponentStyle.js
  app/renderer/themes/light/appComponentStyle.js
  app/renderer/themes/light/appThemeColors.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor branding in logger
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Prepare for SDK upgrade
  app/renderer/components/layout/Layout/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Prepare for SDK upgrade
  app/config/common.js
  app/renderer/components/layout/Layout/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Upgrade SDK to 0.12.0 and fix breaking changes
  app/renderer/components/layout/TopBar/TopBarContainer.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/epics/init.epic.js
  app/renderer/epics/staking.epics.js
  app/renderer/epics/subscribeFinalisedHeads.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/reducers/blocksFinalised.reducer.js
  app/renderer/types.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Refactor plugnet importing
  app/renderer/api/api.js
  app/renderer/api/runtime/attestation/Topic.js
  app/renderer/api/runtime/attestation/Value.js
  app/renderer/api/runtime/ga/AssetOptions.js
  app/renderer/api/runtime/ga/Owner.js
  app/renderer/api/runtime/ga/PermissionsV1.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/useApi.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write
