Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

improve styles
  app/renderer/pages/testPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Use pkg for mac
  electron-builder.yml
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

improve console log
  app/renderer/pages/testPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

always show the pogressbar
  app/renderer/pages/testPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update yack lock
  yarn.lock
Due: none

Change font family
  app/renderer/App.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

initial node env setup
  .babelrc
  .eslintrc.json
  .flowconfig
  app/common/ipc/api.js
  app/common/ipc/lib/IpcChannel.js
  app/common/types/cennznet-node.types.js
  app/common/types/environment.types.js
  app/main/cennznet/CennzNetNode.js
  app/main/cennznet/config.js
  app/main/cennznet/setup.js
  app/main/cennznet/utils.js
  app/main/config.js
  app/main/environment.js
  app/main/ipc/cennznet.ipc.js
  app/main/ipc/lib/MainIpcChannel.js
  app/main/main.dev.js
  app/main/utils/config.js
  app/main/utils/logging.js
  app/main/utils/processes.js
  app/renderer/pages/testPage/container.js
  launcher-config.yaml
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

sort package.json, fix typo, fix issue in package.json
  app/renderer/pages/testPage/index.js
  flow-typed/npm/electron-updater_vx.x.x.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix release build
  .stylelintrc
  CHANGELOG.md
  app/app.global.css
  app/app.html
  app/app.icns
  app/main.dev.js
  app/renderer/index.js
  configs/webpack.config.renderer.prod.babel.js
  electron-builder.yml
  flow-typed/npm/electron-builder_vx.x.x.js
  launcher-config.yaml
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

able to open debug mode on prod, fix icon and menu
  README.md
  app/app.icns
  app/main.dev.js
  app/main/menu.js
  electron-builder.yml
  resources/Icon_Black_Negative.png
  resources/icon.icns
  resources/icon.ico
  resources/icon.png
  resources/icons/1024x1024.png
  resources/icons/128x128.png
  resources/icons/16x16.png
  resources/icons/24x24.png
  resources/icons/256x256.png
  resources/icons/32x32.png
  resources/icons/48x48.png
  resources/icons/512x512.png
  resources/icons/64x64.png
  resources/icons/96x96.png
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix logging issues
  .flowconfig
  CHANGELOG.md
  README.md
  app/main.dev.js
  app/main/cennznet/setup.js
  app/main/menu.js
  app/main/utils/config.js
  app/main/utils/logging.js
  electron-builder.yml
  launcher-config.yaml
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add logging uitls for renderer
  app/main/utils/logging.js
  app/renderer/pages/testPage/container.js
  app/renderer/pages/testPage/index.js
  app/renderer/utils/logging.js
  electron-builder.yml
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add storybook
  .storybook/config.js
  .storybook/webpack.config.js
  flow-typed/npm/react-redux_v5.x.x.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add storybook addons and examples
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  flow-typed/npm/chalk_v2.x.x.js
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/redux_v4.x.x.js
  package.json
  stories/Widgets.stories.js
  stories/index.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add cucumber and default tests
  cucumber.js
  features/.eslintrc
  features/is_it_friday_yet.feature
  features/step_definitions/stepdefs.js
  flow-typed/npm/chalk_v2.x.x.js
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/redux_v4.x.x.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

able to manually run `yarn cucumber`
  .eslintrc.json
  app/main.dev.js
  app/main/ipc/index.js
  app/main/utils/processes.js
  app/main/utils/rendererErrorHandler.js
  features/is_it_friday_yet.feature
  features/quit-app.feature
  features/step_definitions/app-steps.js
  features/support/electron.js
  features/support/helpers/app-helpers.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix eslint issue
  .eslintrc.json
  features/step_definitions/app-steps.js
  features/support/global-types.js
  features/support/i18n.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix fail test
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
