Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

highlight self-own account in stakingOverview table
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/stakingOverviewPage/WaitingList.js
  app/renderer/pages/stakingOverviewPage/container.js
  app/renderer/pages/stakingOverviewPage/index.js
  app/renderer/theme/colors.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix bugs
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/stakingOverviewPage/WaitingList.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to listen to reward events
  CHANGELOG.md
  app/renderer/api/api.js
  app/renderer/api/wallets/CennznetWallet.js
  app/renderer/api/wallets/CennznetWalletAccount.js
  app/renderer/pages/stakingManagePage/SavePreferenceSection.js
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/wallet/account/container.js
  docker-compose.yml
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix bugs
  app/renderer/pages/stakingOverviewPage/WaitingList.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix eslint issues
  app/renderer/pages/stakingManagePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix setInterval timer issue, use store staking wallet/account info for manage stake page
  CHANGELOG.md
  app/renderer/api/utils/storage.js
  app/renderer/epics/staking.epics.js
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/pages/stakingManagePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add --pruning=archive, upgrade cennznet-telemetry to 1.0.19
  docker-compose.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

improve naming convention
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/stakingOverviewPage/WaitingList.js
  app/renderer/theme/colors.js
  app/renderer/theme/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add Change log
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

fix review issues
  app/renderer/pages/stakingManagePage/SavePreferenceSection.js
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/pages/stakingManagePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor staking epic to get finalised status
  app/renderer/epics/staking.epics.js
  app/renderer/theme/colors.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add label to the staking account
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/index.js
  app/renderer/pages/stakingOverviewPage/index.js
  app/renderer/pages/wallet/account/AccountDetails.js
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/pages/wallet/account/container.js
  app/renderer/pages/wallet/account/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update changeLOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

0.6.0 release
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add local net option back
  CHANGELOG.md
  app/common/types/cennznet-node.types.js
  app/renderer/pages/chooseNetworkPage/index.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

get ready for GITHUB release.
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  helm/Chart.yaml
  helm/dev-values.yaml
  helm/prod-values.yaml
  helm/uat-values.yaml
  helm/values.yaml
  launcher-config.yaml
Due: prettier --ignore-path .eslintignore --single-quote --write

get ready for GITHUB release.
  CONTRIBUTING.md
Due: prettier --ignore-path .eslintignore --single-quote --write

update T&C
  app/renderer/components/TosContent.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

rename user facing Odin -> rUN
  app/app.html
  app/common/environment.js
  app/config/common.js
  app/main/menu.js
  app/renderer/api/api.js
  app/renderer/pages/settingsGeneralPage/index.js
  electron-builder.yml
  styleguide.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

rename user facing Odin -> rUN
  app/app.html
  app/common/environment.js
  app/main/menu.js
  app/renderer/api/api.js
  app/renderer/pages/settingsGeneralPage/index.js
  electron-builder.yml
  styleguide.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove network label from window title
  app/common/environment.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
