Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

upgrade CENNZNETNode to latest
  app/common/types/cennznet-node.types.js
  app/main/cennznet/config.js
  app/renderer/api/api.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

restore HDKeyring wallet
  app/renderer/api/api.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/pages/wallet/connect/container.js
  app/renderer/pages/wallet/connect/nameInputPage.js
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/index.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

UI improve
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

tidyup for review
  app/renderer/api/api.js
  app/renderer/epics/localStorage.epics.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/wallet/account/PortfolioSection.js
  app/renderer/pages/wallet/account/container.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

tidy up for review
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

connect wallet with simpleKR & HDKR
  app/renderer/components/index.js
  app/renderer/pages/wallet/WordField.js
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update ChangeLog
  CHANGELOG.md
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove console command
  app/renderer/pages/wallet/connect/nameInputPage.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to query GA balances and store it in electron-store
  app/renderer/api/api.js
  app/renderer/epics/localStorage.epics.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/index.js
  app/renderer/pages/wallet/account/AccountDetails.js
  app/renderer/pages/wallet/account/PortfolioSection.js
  app/renderer/reducers/localStorage.reducer.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Improve subnav
  app/renderer/assets/img/centrality-logo.svg
  app/renderer/assets/img/logo.png
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/cssIcons/IconPlus.js
  app/renderer/components/cssIcons/Readme.md
  app/renderer/components/cssIcons/index.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/AccordionItemTitle.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/components/layout/SubNav/Readme.md
  app/renderer/components/layout/TopBar/index.js
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/pages/wallet/account/index.js
  styleguideHelpers/setup.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to fetch balance when nav to different account
  app/renderer/pages/devPage/index.js
  app/renderer/pages/wallet/account/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix bugs for connect wallet with HDKeyring/SimpleKeyring
  app/renderer/api/api.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/index.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/wallet/account/AccountDetails.js
  app/renderer/pages/wallet/account/index.js
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/index.js
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/utils.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove console.log
  app/renderer/api/api.js
  app/renderer/epics/walletCreate.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

disable tickshow for seedphraseRecovery input
  app/renderer/pages/wallet/WordField.js
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix review issue
  app/renderer/api/api.js
  app/renderer/epics/localStorage.epics.js
  app/renderer/epics/wallet.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix wallet crete issues
  app/renderer/epics/walletCreate.epics.js
  app/renderer/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.4.1 release
  CHANGELOG.md
  app/common/assets/pdf/paper-wallet-bg.png
  app/common/assets/pdf/paper-wallet-page-1-testent.png
  app/common/assets/pdf/paper-wallet-page-1.png
  app/common/assets/pdf/paper-wallet-page-2-testnet.png
  app/common/assets/pdf/paper-wallet-page-2.png
  app/common/assets/pdf/paper-wallet-page-single.png
  app/main/ipc/generatePaperWalletChannel.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

try fix not able to load preload.js in release build
  configs/webpack.config.renderer.prod.babel.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

try fix not able to load preload.js in release build
  app/main/windows/mainWindow.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
