Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Add tooltip to balances field
  app/renderer/components/Ellipsis.js
  app/renderer/components/HintDigits.js
  app/renderer/components/index.js
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/stakingOverviewPage/WaitingList.js
  app/renderer/pages/wallet/account/PortfolioSection.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add default props
  app/renderer/components/Ellipsis.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix transaction form issue
  app/renderer/pages/wallet/account/AccountDetails.js
  app/renderer/pages/wallet/account/index.js
  app/renderer/pages/wallet/account/transferSectionPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add CircleCI
  .circleci/config.yml
  .eslintrc.json
  app/renderer/pages/devPage/dev.container.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Replace Yarn with npm
  .circleci/config.yml
  .gitignore
  Dockerfile
  bitbucket-pipelines.yml
  configs/webpack.config.renderer.dev.babel.js
  internals/scripts/CheckBuiltsExist.js
  internals/scripts/CheckYarn.js
  package-lock.json
  package.json
  scripts/clean.sh
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Fix jest testing
  jest.config.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Change wss endpoint to unfrastructure
  package-lock.json
Due: prettier --ignore-path .eslintignore --parser json --write

Change wss endpoint to unfrastructure
  app/config/common.js
  package-lock.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Update Github release
  package-lock.json
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Add script for npm run dev
  .flowconfig
  app/main/utils/readLauncherConfig.js
  configs/webpack.config.renderer.dev.babel.js
  internals/flow/CSSModule.js.flow
  internals/flow/WebpackAsset.js.flow
  internals/img/eslint-padded-90.png
  internals/img/eslint-padded.png
  internals/img/eslint.png
  internals/img/flow-padded-90.png
  internals/img/flow-padded.png
  internals/img/flow.png
  internals/img/jest-padded-90.png
  internals/img/jest-padded.png
  internals/img/jest.png
  internals/img/js-padded.png
  internals/img/js.png
  internals/img/npm.png
  internals/img/react-padded-90.png
  internals/img/react-padded.png
  internals/img/react-router-padded-90.png
  internals/img/react-router-padded.png
  internals/img/react-router.png
  internals/img/react.png
  internals/img/redux-padded-90.png
  internals/img/redux-padded.png
  internals/img/redux.png
  internals/img/webpack-padded-90.png
  internals/img/webpack-padded.png
  internals/img/webpack.png
  internals/img/yarn-padded-90.png
  internals/img/yarn-padded.png
  internals/img/yarn.png
  internals/scripts/CheckBuiltsExist.js
  package-lock.json
  package.json
  scripts/convert_node.sh
  scripts/github-release-get.sh
  scripts/init.sh
  scripts/npmDev.js
  testHelper/mocks/fileMock.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Update Readme
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add code of conduct document
  CODE_OF_CONDUCT.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Config all contributors bot
  .all-contributorsrc
Due: none

Upadte all contributors
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

docs: update README
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

docs: update README (#86)
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write
