Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

add preload script, fix package issues
  app/app.html
  app/common/types/environment.types.js
  app/main.dev.js
  app/main/environment.js
  app/main/menu.js
  app/main/preload.js
  app/main/utils/config.js
  app/main/utils/logging.js
  configs/webpack.config.preload.babel.js
  configs/webpack.config.renderer.prod.babel.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix test
  features/step_definitions/app-steps.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to debug in vscode, fix flow issues
  .vscode/launch.json
  CHANGELOG.md
  app/common/types/environment.types.js
  app/main.dev.js
  app/main/environment.js
  app/main/utils/config.js
  app/main/windows/mainWindow.js
  app/renderer/api/utils/request.js
  app/renderer/i18n/LocalizableError.js
  features/step_definitions/app-steps.js
  features/support/helpers/cennznet-node-helpers.js
  flow-typed/npm/testcafe_v0.x.x.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add README.md for remote debug
  README.md
  app/app.html
  app/renderer/pages/testPage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

NDOE-30 Add layout
  .babelrc
  app/renderer/App.js
  app/renderer/components/Box.js
  app/renderer/components/layout/Layout.js
  app/renderer/components/layout/LayoutWrapper.js
  app/renderer/components/layout/MainContent.js
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/SimpleSidebar.js
  app/renderer/components/layout/SubNav.js
  app/renderer/components/layout/Topbar.js
  app/renderer/components/layout/index.js
  app/renderer/globalStyles.js
  app/renderer/index.js
  app/renderer/pages/tosPage/index.js
  app/renderer/pages/walletCreatePage/index.js
  app/renderer/pages/walletImportPage/index.js
  app/renderer/pages/walletRestorePage/index.js
  app/renderer/routes/WalletRoutes.js
  app/renderer/routes/index.js
  app/renderer/scss/styles.scss
  app/renderer/theme/colors.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Change default route
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix conflicts
  .babelrc
  .gitignore
  app/renderer/App.js
  app/renderer/components/layout/SubNav.js
  app/renderer/index.js
  app/renderer/routes/index.js
  app/renderer/scss/styles.scss
  babel.config.js
  flow-typed/npm/@fortawesome/free-solid-svg-icons_vx.x.x.js
  flow-typed/npm/eslint-plugin-react_vx.x.x.js
  flow-typed/npm/testcafe_v0.x.x.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

NODE-29 Add terms and conditions page
  .eslintrc.json
  CHANGELOG.md
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Button/defaultStyling.js
  app/renderer/components/Button/index.js
  app/renderer/components/Spinner.js
  app/renderer/components/TosContent.js
  app/renderer/components/layout/SimpleSidebar.js
  app/renderer/pages/tosPage/index.js
  app/renderer/routes/index.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add styleguidist
  CHANGELOG.md
  app/renderer/components/Button/Readme.md
  configs/webpack.config.styleguide.js
  package.json
  styleguide.config.js
  styleguideHelpers/DemoCanvas.js
  styleguideHelpers/DemoFlex.js
  styleguideHelpers/DemoSquare.js
  styleguideHelpers/ThemeWrapper.js
  styleguideHelpers/docs/introduction.md
  styleguideHelpers/docs/theming.md
  styleguideHelpers/sass/centrality-ui.scss
  styleguideHelpers/sass/reset.scss
  styleguideHelpers/setup.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Remove unused babel plugins
  app/renderer/routes/index.js
  babel.config.js
  flow-typed/npm/@babel/plugin-proposal-decorators_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-do-expressions_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-export-default-from_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-export-namespace-from_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-function-bind_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-function-sent_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-logical-assignment-operators_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-nullish-coalescing-operator_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-numeric-separator_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-optional-chaining_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-pipeline-operator_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-throw-expressions_vx.x.x.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Remove storybook
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  stories/Widgets.stories.js
  stories/index.js
  styleguideHelpers/DemoCanvas.js
  styleguideHelpers/DemoSquare.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add select to ui-component
  app/renderer/components/Select/Readme.md
  app/renderer/components/Select/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

select component to styleguide
  app/renderer/components/Select/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add README.md for remote debug
  CHANGELOG.md
  README.md
  app/main/environment.js
  app/main/utils/config.js
  app/main/utils/logging.js
  electron-builder.yml
  flow-typed/npm/ramda_v0.x.x.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add ./scripts/init.sh
  CHANGELOG.md
  README.md
  package.json
  scripts/init.sh
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add props to component
  app/renderer/components/Select/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

upgrade polkadotjs to latest, ready to switch to cennzetjs sdk
  app/renderer/pages/testPage/container.js
  app/renderer/pages/testPage/index.js
  app/renderer/reducers/testPage.reducer.js
  app/renderer/routes/index.js
  babel.config.js
  flow-typed/npm/@polkadot/api_vx.x.x.js
  flow-typed/npm/@polkadot/rpc-provider_vx.x.x.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

chooseNetwork page
  app/renderer/components/Select/index.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/routes/index.js
  flow-typed/npm/ramda_v0.x.x.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update yarn lock
  app/main/environment.js
  app/main/utils/config.js
  app/main/utils/logging.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

change back to use header.blockNumber, convert BlockNumber object to string for display
  app/renderer/pages/testPage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
