Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

able to get release from github
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

update Jenkins pipeline
  Jenkinsfile
  JenkinsfilePR
  scripts/test.sh
Due: none

use raw Route
  CHANGELOG.md
  app/renderer/epics/localStorage.epics.js
  app/renderer/pages/homePage/container.js
  app/renderer/pages/homePage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

change.log
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

try fix fail build
  Jenkinsfile
  scripts/test.sh
Due: none

try fix fail build
  scripts/test.sh
Due: none

try fix fail build
  .npmrc
  scripts/test.sh
Due: none

try fix fail build
  app/renderer/epics/test.epics.js
  app/renderer/pages/syncNodePage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix bug
  app/renderer/pages/syncNodePage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to do PR build
  .npmrc
  JenkinsfilePR
Due: none

remove npm token
  .npmrc
Due: none

we need npm token
  .npmrc
Due: none

we need npm token
  .npmrc
  scripts/test.sh
Due: none

we need npm token
  scripts/test.sh
Due: none
