Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Add license comments on top of some files
  app/main/cennznet/CennzNetNode.js
  app/main/cennznet/setup.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.11.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

sdk upgrade
  app/renderer/api/api.js
  app/renderer/api/index.js
  app/renderer/api/runtime/README.md
  app/renderer/api/runtime/attestation/Topic.js
  app/renderer/api/runtime/attestation/Value.js
  app/renderer/api/runtime/attestation/index.js
  app/renderer/api/runtime/ga/AssetOptions.js
  app/renderer/api/runtime/ga/Owner.js
  app/renderer/api/runtime/ga/PermissionsV1.js
  app/renderer/api/runtime/ga/index.js
  app/renderer/api/runtime/index.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Update yarn.lock
  yarn.lock
Due: none

0.12.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

0.13.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add footer in syncNode page
  app/renderer/pages/homePage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Hide reward in staking manage page
  app/renderer/pages/stakingManagePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor token name
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/ValidatorsList.js
  app/renderer/pages/stakingOverviewPage/WaitingList.js
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Improve and Fix UI
  app/renderer/pages/settingsGeneralPage/index.js
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor exiting page
  app/renderer/constants/routes.js
  app/renderer/epics/subscribeNodeStatus.epics.js
  app/renderer/pages/exitingPage/container.js
  app/renderer/pages/exitingPage/index.js
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix typo
  app/renderer/pages/stakingOverviewPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.13.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write
