Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

Create staking status constant
  app/renderer/components/layout/Layout/container.js
  app/renderer/components/layout/Layout/index.js
  app/renderer/constants/stakingStatus.js
  app/renderer/epics/staking.epics.js
  app/renderer/routes/Route.js
  app/renderer/routes/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.9.3 release
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Merged in NODE-173-make-run-works-with-local-testnet (pull request #197)
  CHANGELOG.md
  README.md
  app/config/common.js
  app/main/cennznet/CennzNetNode.js
  app/main/cennznet/cennzNetConfig.js
  app/renderer/components/layout/TopBar/TopBarContainer.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  genesis/local/local-testnet1.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Merged in NODE-173-make-run-works-with-local-testnet (pull request #197)
  CHANGELOG.md
  README.md
  app/main/cennznet/CennzNetNode.js
  app/main/cennznet/cennzNetConfig.js
  app/renderer/components/layout/TopBar/TopBarContainer.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/pages/chooseNetworkPage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  genesis/local/local-testnet1.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

replace background-color attribute
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Card/index.js
  app/renderer/components/Checkbox/index.js
  app/renderer/components/Input/lib/Cross.js
  app/renderer/components/Input/lib/InputAddon.js
  app/renderer/components/Input/lib/Tick.js
  app/renderer/components/Input/lib/inputStateStyles.js
  app/renderer/components/Modal/index.js
  app/renderer/components/Notification/index.js
  app/renderer/components/Scrollable.js
  app/renderer/components/Select/index.js
  app/renderer/components/Table/index.js
  app/renderer/components/Tabs/index.js
  app/renderer/components/Toaster/index.js
  app/renderer/components/Toggle/index.js
  app/renderer/components/Tooltip/index.js
  app/renderer/components/layout/MainContent.js
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/SimpleSidebar.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/AccordionItemTitle.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/components/layout/SubNav/SimpleMenu/index.js
  app/renderer/components/layout/SubNav/index.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/globalStyles.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/StakingProgressCard.js
  app/renderer/pages/stakingStakePage/SavePreferenceSection.js
  app/renderer/pages/stakingStakePage/Stake/StakeConfirmModal.js
  app/renderer/pages/wallet/account/transferSectionPage/ClipboardShareLinks.js
  app/renderer/scss/sentry.scss
  styleguideHelpers/ColorPalette.js
  styleguideHelpers/DemoCanvas.js
  styleguideHelpers/DemoSquare.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, stylelint --ignore-path .eslintignore --syntax scss --fix

replace background-color attribute
  app/config/common.js
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Card/index.js
  app/renderer/components/Checkbox/index.js
  app/renderer/components/Input/lib/Cross.js
  app/renderer/components/Input/lib/InputAddon.js
  app/renderer/components/Input/lib/Tick.js
  app/renderer/components/Input/lib/inputStateStyles.js
  app/renderer/components/Modal/index.js
  app/renderer/components/Notification/index.js
  app/renderer/components/Scrollable.js
  app/renderer/components/Select/index.js
  app/renderer/components/Table/index.js
  app/renderer/components/Tabs/index.js
  app/renderer/components/Toaster/index.js
  app/renderer/components/Toggle/index.js
  app/renderer/components/Tooltip/index.js
  app/renderer/components/layout/MainContent.js
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/SimpleSidebar.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/AccordionItemTitle.js
  app/renderer/components/layout/SubNav/CollapsibleMenu/index.js
  app/renderer/components/layout/SubNav/SimpleMenu/index.js
  app/renderer/components/layout/SubNav/index.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/globalStyles.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/StakingProgressCard.js
  app/renderer/pages/stakingStakePage/SavePreferenceSection.js
  app/renderer/pages/stakingStakePage/Stake/StakeConfirmModal.js
  app/renderer/pages/wallet/account/transferSectionPage/ClipboardShareLinks.js
  app/renderer/scss/sentry.scss
  styleguideHelpers/ColorPalette.js
  styleguideHelpers/DemoCanvas.js
  styleguideHelpers/DemoSquare.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, stylelint --ignore-path .eslintignore --syntax scss --fix

make rUN works with local test net by default
  app/config/common.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix release app not able run showing blank screen issue
  app/config/common.js
  app/main/cennznet/CennzNetNode.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix release app not able run showing blank screen issue
  app/main/cennznet/CennzNetNode.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add cennznet-ui
  docker-compose.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

fix not able to send tx
  app/renderer/pages/wallet/account/transferSectionPage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Remove unused scripts
  scripts/build-localdev.sh
  scripts/build.sh
  scripts/init_from_github.sh
  scripts/run-localdev.sh
  scripts/run-unit-tests.sh
  scripts/start_project.sh
Due: none

Upgrade packages
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

adopt component with computeThemeStyle
  app/renderer/components/Select/index.js
  app/renderer/components/Toaster/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor theme be scalable
  app/renderer/components/defaultTheme/colors.js
  app/renderer/components/defaultTheme/index.js
  app/renderer/components/defaultTheme/media.js
  app/renderer/pages/devPage/index.js
  app/renderer/theme/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix select component in page
  app/renderer/components/Select/index.js
  app/renderer/components/layout/TopBar/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor app theming and colors
  app/renderer/components/Button/index.js
  app/renderer/components/Input/index.js
  app/renderer/theme/appColors.js
  app/renderer/theme/index.js
  styleguide.config.js
  styleguideHelpers/docs/colors.md
  styleguideHelpers/docs/theming.md
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add utils to theme object
  app/renderer/components/Select/index.js
  app/renderer/components/Toaster/index.js
  app/renderer/components/defaultTheme/index.js
  app/renderer/components/defaultTheme/utils.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/theme/appThemeColors.js
  app/renderer/theme/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor button theme
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Button/defaultThemeStyle.js
  app/renderer/components/Button/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

enable Toaster createThemeStyle
  app/renderer/components/Toaster/index.js
  app/renderer/components/Toaster/toast.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor button attr color to be variant
  app/renderer/components/Button/Readme.md
  app/renderer/components/Button/buttonStyles.js
  app/renderer/components/Button/defaultThemeStyle.js
  app/renderer/components/Button/index.js
  app/renderer/components/Modal/Readme.md
  app/renderer/components/Toaster/Readme.md
  app/renderer/components/defaultTheme/index.js
  app/renderer/components/layout/TopBar/TopBarWarningModal.js
  app/renderer/components/layout/TopBar/UploadGenesisModal.js
  app/renderer/main/GlobalModal/ExitAppWhileStakingModal.js
  app/renderer/pages/settingsGeneralPage/index.js
  app/renderer/pages/stakingManagePage/UnStakeWarningModal.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingStakePage/ChangeStakingPreferenceModal.js
  app/renderer/pages/stakingStakePage/Stake/StakeConfirmModal.js
  app/renderer/pages/stakingStakePage/Stake/StakeWarningModal.js
  app/renderer/pages/stakingStakePage/Stake/index.js
  app/renderer/pages/wallet/account/AddAccountModal.js
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/pages/wallet/account/transferSectionPage/TransferConfirmModal.js
  app/renderer/pages/wallet/account/transferSectionPage/index.js
  app/renderer/pages/wallet/connect/seedPhraseRecoverPage/index.js
  app/renderer/pages/wallet/create/nameInputPage/GetReadyWarningModal.js
  app/renderer/pages/wallet/create/seedPhraseConfirmPage/index.js
  app/renderer/pages/wallet/create/seedPhrasePage/SeedPhraseDownloadModal.js
  app/renderer/pages/wallet/create/seedPhrasePage/StoreWarningModal.js
  app/renderer/pages/wallet/create/seedPhrasePage/index.js
  app/renderer/theme/index.js
  styleguide.config.js
  styleguideHelpers/ThemeWrapper.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx}
  prettier --ignore-path .eslintignore --single-quote --write: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{yml,md})
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  stylelint --ignore-path .eslintignore --syntax scss --fix: any of: *.{css,scss}
