Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

Fix Hot-Module-Reloader
  package-lock.json
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Upgrade hot reloader
  app/renderer/index.js
  app/renderer/main/index.js
  configs/webpack.config.renderer.dev.babel.js
  configs/webpack.config.styleguide.js
  package-lock.json
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Fix 'Unknown argument: overwrite' of flow-typed
  package-lock.json
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix tooltip is not showing properly
  app/renderer/components/Hint.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Convert loading to non-boolean prop
  app/renderer/components/Button/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

clean config file
  yarn.lock
Due: none

Add contributing guideline
  CONTRIBUTING.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add contributing guideline (#93)
  CONTRIBUTING.md
Due: prettier --ignore-path .eslintignore --single-quote --write

fix for react state warning bug - issue #72
  app/renderer/pages/homePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Convert loading to non-boolean prop (#91)
  app/renderer/components/Button/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update Readme and contributing docs
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT_GUIDE.md
  docs/LOCAL_TESTNET.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove AppContainer
  app/renderer/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add development guide doc
  README.md
  docs/DEVELOPMENT_GUIDE.md
  docs/PULL_REQUEST_TEMPLATE.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add doc of standalone testnet
  docker-compose-local.yml
  docs/LOCAL_TESTNET.md
  docs/STANDALONE_TESTNET.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add pull request template
  CONTRIBUTING.md
  docs/PULL_REQUEST_TEMPLATE.md
Due: prettier --ignore-path .eslintignore --single-quote --write
