Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

try to add CI with cucumber tests
  JenkinsfileIT
Due: none

try to add CI with cucumber tests
  scripts/run-e2e-tests.sh
Due: none

Update styleguide styles
  package.json
  styleguide.config.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Update Input styles
  app/renderer/components/Input/index.js
  app/renderer/components/Input/lib/InputAddon.js
  app/renderer/components/Input/lib/getInputBorderColor.js
  app/renderer/components/Input/lib/inputStateStyles.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add Tooltip component
  app/renderer/components/Tooltip/Readme.md
  app/renderer/components/Tooltip/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

comment the resetLocalStorage
  app/renderer/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add table component
  app/renderer/components/Table/Readme.md
  app/renderer/components/Table/index.js
  app/renderer/components/Table/tableExpander.js
  package.json
  styleguide.config.js
  styleguideHelpers/tableDataUtil.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Change modal overlay color
  app/renderer/components/Modal/index.js
  app/renderer/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor account page
  app/renderer/pages/wallet/details/WalletDetailsSubNav.js
  app/renderer/pages/wallet/details/accountPage/container.js
  app/renderer/pages/wallet/details/accountPage/index.js
  app/renderer/pages/wallet/details/container.js
  app/renderer/pages/wallet/details/index.js
  app/renderer/routes/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add tabs component
  app/renderer/components/Tabs/Readme.md
  app/renderer/components/Tabs/TabPane.js
  app/renderer/components/Tabs/index.js
  app/renderer/components/index.js
  app/renderer/pages/wallet/details/AccountDetails.js
  app/renderer/pages/wallet/details/accountPage/container.js
  app/renderer/pages/wallet/details/index.js
  app/renderer/theme/colors.js
  package.json
  styleguide.config.js
  styleguideHelpers/setup.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Refine account tabs
  app/renderer/components/Tabs/Readme.md
  app/renderer/components/Tabs/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to check cennznet-node process in tests
  app/renderer/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/waitPage/container.js
  app/renderer/pages/waitPage/index.js
  app/renderer/utils/config.js
  features/quit-app.feature
  features/step_definitions/cennznet-node-steps.js
  features/support/global-types.js
  features/support/helpers/cennznet-node-helpers.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove extra line
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add scrollable component
  CHANGELOG.md
  app/renderer/components/PageFooter.js
  app/renderer/components/Scrollable.js
  app/renderer/components/Tabs/Readme.md
  app/renderer/components/Tabs/TabPane.js
  app/renderer/components/Tabs/index.js
  app/renderer/components/index.js
  app/renderer/pages/settingsTosPage/index.js
  app/renderer/pages/tosPage/index.js
  app/renderer/pages/wallet/details/AccountDetails.js
  app/renderer/pages/wallet/details/PortfolioSection.js
  app/renderer/pages/wallet/details/ReceiveSection.js
  styleguideHelpers/setup.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

new data structure to store Wallets -> Accounts -> Assets
  CHANGELOG.md
  app/common/types/cennznet-node.types.js
  app/renderer/api/api.js
  app/renderer/api/wallets/CennznetWallet.js
  app/renderer/api/wallets/CennznetWalletAccount.js
  app/renderer/api/wallets/CennznetWalletAsset.js
  app/renderer/epics/test.epics.js
  app/renderer/epics/walletCreate.epics.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write
