Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

no hard code
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Config local testnet sessionperera to be 1
  genesis/local/local.json
Due: prettier --ignore-path .eslintignore --parser json --write

improve code
  app/renderer/pages/stakingStakePage/SelectStakingAccount.js
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Show notification when staking
  app/renderer/components/Notification/index.js
  app/renderer/components/layout/Layout.js
  app/renderer/components/layout/Layout/container.js
  app/renderer/components/layout/Layout/index.js
  app/renderer/components/layout/Layout/notificationTemplates.js
  app/renderer/reducers/appStore.reducer.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add validator epic
  app/renderer/api/api.js
  app/renderer/components/layout/Layout/index.js
  app/renderer/epics/init.epic.js
  app/renderer/epics/toaster.epics.js
  app/renderer/epics/validator.epics.js
  app/renderer/pages/stakingManagePage/container.js
  app/renderer/pages/stakingOverviewPage/useApi.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

stakingAccountBalance
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

initial staking manage view UI
  app/renderer/assets/icon/cennz.svg
  app/renderer/assets/icon/centrapay.svg
  app/renderer/epics/toaster.epics.js
  app/renderer/pages/stakingManagePage/SavePreferenceSection.js
  app/renderer/pages/stakingManagePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

NODE-100 Notification bar
  app/renderer/api/api.js
  app/renderer/components/layout/Layout/container.js
  app/renderer/components/layout/Layout/index.js
  app/renderer/components/layout/Layout/notificationBarTemplates.js
  app/renderer/components/layout/TopBar/index.js
  app/renderer/epics/ipcChannel.epics.js
  app/renderer/epics/validator.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

improve singleValue in select component
  app/renderer/pages/stakingStakePage/SelectStakingAccount.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Config sessionsperera to be 2
  app/renderer/epics/toaster.epics.js
  genesis/local/local.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

update naming convention
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove extra space
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

estimate gasFee
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Improve toaster to be configured
  app/renderer/components/Toaster/Readme.md
  app/renderer/components/Toaster/toast.js
  app/renderer/epics/toaster.epics.js
  app/renderer/pages/devPage/dev.container.js
  styleguide.config.js
  styleguideHelpers/setup.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Config staking success toaster
  app/renderer/epics/staking.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

React spring
  app/renderer/components/Notification/Readme.md
  app/renderer/components/Notification/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Refine styleguidist
  app/renderer/components/Button/index.js
  app/renderer/components/Notification/Readme.md
  app/renderer/components/Notification/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

NODE-105 enhance staking confirm modal
  app/common/types/cennznet-node.types.js
  app/renderer/components/PageHeading.js
  app/renderer/pages/stakingStakePage/Stake/StakeConfirmModal.js
  app/renderer/pages/stakingStakePage/Stake/index.js
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/container.js
  app/renderer/pages/stakingStakePage/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Introduce styled css grid
  app/renderer/components/Notification/index.js
  app/renderer/components/PageHeading.js
  app/renderer/components/layout/Layout/index.js
  app/renderer/pages/stakingStakePage/Stake/StakeConfirmModal.js
  app/renderer/pages/stakingStakePage/Stake/index.js
  app/renderer/pages/stakingStakePage/StakingAccountBalances.js
  app/renderer/pages/stakingStakePage/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Twick checkbox component
  CHANGELOG.md
  app/renderer/components/Checkbox/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
