Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

rememberNetwork flag bug
  app/renderer/epics/homePage.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.8.1 release
  CHANGELOG.md
  launcher-config.yaml
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Replace prod GA tracking id
  app/config/production.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

0.8.2 release
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix type issue when switch from Rimu to local test net
  CHANGELOG.md
  app/renderer/api/api.js
  app/renderer/api/runtime/README.md
  app/renderer/api/runtime/attestation/Topic.js
  app/renderer/api/runtime/attestation/Value.js
  app/renderer/api/runtime/attestation/index.js
  app/renderer/api/runtime/ga/AssetOptions.js
  app/renderer/api/runtime/ga/Owner.js
  app/renderer/api/runtime/ga/PermissionsV1.js
  app/renderer/api/runtime/ga/index.js
  app/renderer/api/runtime/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix code review issues
  app/renderer/api/api.js
  app/renderer/api/runtime/attestation/Topic.js
  app/renderer/api/runtime/attestation/Value.js
  app/renderer/api/runtime/attestation/index.js
  app/renderer/api/runtime/ga/AssetOptions.js
  app/renderer/api/runtime/ga/Owner.js
  app/renderer/api/runtime/ga/PermissionsV1.js
  app/renderer/api/runtime/ga/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix invalid staking key issue
  CHANGELOG.md
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Merged in fix_type_issues (pull request #177)
  CHANGELOG.md
  app/renderer/api/api.js
  app/renderer/api/runtime/README.md
  app/renderer/api/runtime/attestation/Topic.js
  app/renderer/api/runtime/attestation/Value.js
  app/renderer/api/runtime/attestation/index.js
  app/renderer/api/runtime/ga/AssetOptions.js
  app/renderer/api/runtime/ga/Owner.js
  app/renderer/api/runtime/ga/PermissionsV1.js
  app/renderer/api/runtime/ga/index.js
  app/renderer/api/runtime/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

able to edit account name
  app/renderer/epics/wallet.epics.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/index.js
  app/renderer/pages/wallet/account/AccountDetails.js
  app/renderer/pages/wallet/account/WalletDetailsSubNav.js
  app/renderer/pages/wallet/account/container.js
  app/renderer/pages/wallet/account/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix styleguidist render issue
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Upgrade components related packages
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

naming convention improvment
  app/renderer/pages/wallet/account/AccountDetails.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

initial error handling for ws connection error
  app/config/common.js
  app/renderer/api/api.js
  app/renderer/api/index.js
  app/renderer/epics/exception.epics.js
  app/renderer/index.js
  app/renderer/pages/wallet/landingPage/index.js
  app/renderer/reducers/nodeStateStore.reducer.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

initial error handling for ws connection error
  app/renderer/api/api.js
  app/renderer/api/index.js
  app/renderer/epics/exception.epics.js
  app/renderer/index.js
  app/renderer/pages/wallet/landingPage/index.js
  app/renderer/reducers/nodeStateStore.reducer.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

make APP_NAME globally
  .eslintrc.json
  app/app.html
  app/renderer/api/api.js
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/epics/staking.epics.js
  app/renderer/epics/subscribeFinalisedHeads.epics.js
  app/renderer/epics/subscribeNewHeads.epics.js
  app/renderer/epics/subscribeNewHeadsRemote.epics.js
  app/renderer/epics/subscribeValidators.epics.js
  app/renderer/epics/wallet.epics.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/index.js
  app/renderer/pages/stakingOverviewPage/useApi.js
  app/renderer/pages/wallet/connect/container.js
  app/renderer/pages/wallet/create/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

improve window variables
  .eslintrc.json
  app/app.html
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/epics/staking.epics.js
  app/renderer/epics/subscribeFinalisedHeads.epics.js
  app/renderer/epics/subscribeNewHeads.epics.js
  app/renderer/epics/subscribeNewHeadsRemote.epics.js
  app/renderer/epics/subscribeValidators.epics.js
  app/renderer/epics/wallet.epics.js
  app/renderer/epics/walletCreate.epics.js
  app/renderer/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/stakingManagePage/index.js
  app/renderer/pages/stakingOverviewPage/index.js
  app/renderer/pages/stakingOverviewPage/useApi.js
  app/renderer/pages/wallet/connect/container.js
  app/renderer/pages/wallet/create/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Add GlobalModal
  CHANGELOG.md
  app/renderer/components/Modal/index.js
  app/renderer/globalStyles.js
  app/renderer/index.js
  app/renderer/main/GlobalModal/ExitAppWhileStakingModal.js
  app/renderer/main/GlobalModal/container.js
  app/renderer/main/GlobalModal/index.js
  app/renderer/main/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/reducers/appStore.reducer.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Able to handle WebSocket connection error
  CHANGELOG.md
  app/renderer/api/api.js
  app/renderer/assets/lottie/error.json
  app/renderer/constants/routes.js
  app/renderer/epics/exception.epics.js
  app/renderer/pages/errorPage/container.js
  app/renderer/pages/errorPage/index.js
  app/renderer/routes/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

Handle exiting while staking
  CHANGELOG.md
  app/common/environment.js
  app/common/types/cennznet-node.types.js
  app/main.dev.js
  app/main/cennznet/setup.js
  app/main/utils/app-instance-lock.js
  app/renderer/epics/homePage.epics.js
  app/renderer/epics/ipcChannel.epics.js
  app/renderer/epics/staking.epics.js
  app/renderer/epics/subscribeFinalisedHeads.epics.js
  app/renderer/epics/subscribeNewHeads.epics.js
  app/renderer/epics/subscribeNewHeadsRemote.epics.js
  app/renderer/epics/subscribeNodeStatus.epics.js
  app/renderer/ipc/cennznet.ipc.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/pages/homePage/index.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

fix start showing error page issue
  app/renderer/api/api.js
  app/renderer/epics/exception.epics.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update edit account UI
  app/renderer/index.js
  app/renderer/pages/wallet/account/AccountDetails.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write
