Repository cennznet/runanode: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write, stylelint --ignore-path .eslintignore --syntax scss --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "cross-env NODE_ENV=development eslint --cache",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": [
    "prettier --ignore-path .eslintignore --parser json --write",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --ignore-path .eslintignore --syntax scss --fix",
    "prettier --ignore-path .eslintignore --single-quote --write",
    "git add"
  ],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write", "git add"]
}

we need npm token
  scripts/test.sh
Due: none

add clean.sh for consle.undefine.err
  scripts/clean.sh
Due: none

fix issues
  CHANGELOG.md
  app/main/cennznet/config.js
  app/renderer/reducers/syncRemoteStream.reducer.js
  app/renderer/reducers/syncStream.reducer.js
  app/renderer/utils/config.js
  configs/webpack.config.renderer.prod.babel.js
  launcher-config.yaml
  package.json
  scripts/clean.sh
  scripts/init_from_github.sh
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

update changelog
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

react-modal
  app/renderer/components/Modal/Readme.md
  app/renderer/components/Modal/index.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

upgrade cennznet-api and cennznet-wallet
  .npmrc.template
  CHANGELOG.md
  package.json
  scripts/test.sh
  yarn.lock
Due: prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

fix bugs: not restart when switch network & prevent rounded precentage
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/pages/syncNodePage/container.js
  app/renderer/pages/syncNodePage/index.js
  app/renderer/types.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Google Analytics
  .gitignore
  CHANGELOG.md
  app/app.html
  app/config/development.js
  app/config/production.js
  app/main/preload.js
  app/renderer/ga.js
  app/renderer/index.js
  app/renderer/store/development.js
  app/renderer/store/middlewares/analytics/eventsMap.js
  app/renderer/store/middlewares/analytics/index.js
  app/renderer/store/production.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add streamPolling
  app/renderer/epics/chooseNetwork.epics.js
  app/renderer/pages/syncNodePage/container.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

add streamPolling
  scripts/clean.sh
Due: none

remove by mistake
  scripts/clean.sh
Due: none

initial api to create wallet, fix logging issues, tidy up
  .gitignore
  CHANGELOG.md
  app/common/crypto/valid-words.en.js
  app/main.dev.js
  app/main/config.js
  app/main/menu.js
  app/main/preload.js
  app/main/utils/mainErrorHandler.js
  app/main/utils/setupLogging.js
  app/renderer/api/api.js
  app/renderer/api/index.js
  app/renderer/api/nodes/requests/getSystemHealth.js
  app/renderer/api/nodes/types.js
  app/renderer/api/utils/request.js
  app/renderer/api/wallets/types.js
  app/renderer/helpers/actionTypeHelper.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/reducers/nodeSystem.reducer.js
  app/renderer/store/development.js
  app/renderer/utils/config.js
  app/renderer/utils/crypto.js
  app/renderer/utils/logging.js
  app/renderer/utils/mnemonics.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add Modal component to ui-book
  app/renderer/components/Modal/Readme.md
  app/renderer/components/Modal/index.js
  app/renderer/components/Modal/lib/modalFooter.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove lib, make modal more flexible
  app/renderer/components/Modal/Readme.md
  app/renderer/components/Modal/index.js
  app/renderer/components/Modal/lib/modalFooter.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

rename footerComp as footer
  app/renderer/components/Modal/Readme.md
  app/renderer/components/Modal/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

* able to create wallet from DEV page, sync to redux state and electron-storage
  CHANGELOG.md
  app/main.dev.js
  app/main/cennznet/config.js
  app/renderer/api/api.js
  app/renderer/api/index.js
  app/renderer/api/utils/request.js
  app/renderer/api/utils/storage.js
  app/renderer/api/wallets/CennznetWallet.js
  app/renderer/api/wallets/types.js
  app/renderer/epics/init.epic.js
  app/renderer/epics/test.epics.js
  app/renderer/index.js
  app/renderer/pages/devPage/dev.container.js
  app/renderer/pages/devPage/index.js
  app/renderer/store/development.js
  app/renderer/types.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write, prettier --ignore-path .eslintignore --parser json --write

add defaultProps to Modal component
  app/renderer/components/Modal/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

remove unused code
  app/renderer/api/api.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add page footer and changed bg clor
  CHANGELOG.md
  app/config/production.js
  app/renderer/components/PageFooter.js
  app/renderer/components/PageHeading.js
  app/renderer/components/index.js
  app/renderer/components/layout/Layout.js
  app/renderer/components/layout/MainContent.js
  app/renderer/components/layout/MainLayout.js
  app/renderer/components/layout/SideNav.js
  app/renderer/components/layout/SubNav.js
  app/renderer/components/layout/TopBar.js
  app/renderer/constants/routes.js
  app/renderer/index.js
  app/renderer/pages/wallet/StartOverLink.js
  app/renderer/pages/wallet/connect/index.js
  app/renderer/pages/wallet/create/constants.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/pages/wallet/create/index.js
  app/renderer/pages/wallet/create/nameInputPage.js
  app/renderer/pages/wallet/create/seedPhrasePage.js
  app/renderer/pages/wallet/create/seedPhraseQuizPage.js
  app/renderer/pages/wallet/landingPage/container.js
  app/renderer/pages/wallet/landingPage/index.js
  app/renderer/pages/wallet/listPage/index.js
  app/renderer/pages/walletCreatePage/container.js
  app/renderer/pages/walletCreatePage/index.js
  app/renderer/pages/walletImportPage/index.js
  app/renderer/pages/walletRestorePage/index.js
  app/renderer/routes/WalletRoutes.js
  app/renderer/routes/index.js
  app/renderer/store/middlewares/analytics/eventsMap.js
  app/renderer/theme/colors.js
  app/renderer/theme/index.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refine seed phrase page
  app/renderer/components/PageHeading.js
  app/renderer/pages/wallet/create/container.js
  app/renderer/pages/wallet/create/index.js
  app/renderer/pages/wallet/create/nameInputPage.js
  app/renderer/pages/wallet/create/seedPhrasePage/SeedPhraseList.js
  app/renderer/pages/wallet/create/seedPhrasePage/index.js
  app/renderer/pages/wallet/create/seedPhraseQuizPage.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
